<body>
<div class="jumbotron">
  <div class="container text-center">
    <!--<%= link_to "principal", principal_path%>-->
    <h1>Bienvenido a GESLAB</h1>
    <h2>Registrate <%= link_to "aquí", "#"%></h2>
  </div>
</div>
</body>
