<!DOCTYPE html>
<html lang="en">
<head>
  <title>INICIO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="jumbotron">
  <div class="container text-center">
    <!-- contenido de la página-->
    <h1>Bienvenido a GESLAB</h1>
    <h2>Inicia sesión <%= link_to "aquí", principal_path%></h2>
  </div>
</div>
</body>
</html>
