<body>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">ejemplo</a></p>
      <p><a href="#">ejemplo</a></p>
      <p><a href="#">ejemplo</a></p>
      <p><a href="#">ejemplo</a></p>
      <p><a href="#">ejemplo</a></p>
      <p><a href="#">ejemplo</a></p>
      <p><a href="#">ejemplo</a></p>
      <p><a href="#">ejemplo</a></p>
      <p><a href="#">ejemplo</a></p>
      <p><a href="#">ejemplo</a></p>
      <p><a href="#">ejemplo</a></p>
      <p><a href="#">ejemplo</a></p>
      <p><a href="#">ejemplo</a></p>
      <p><a href="#">ejemplo</a></p>
      <p><a href="#">ejemplo</a></p>
      <p><a href="#">ejemplo</a></p>
      <p><a href="#">ejemplo</a></p>
      <p><a href="#">ejemplo</a></p>
    </div>
    <div class="col-sm-9">
      <!--contenido-->
      <%= link_to "inicio", root_path%>
      <h1>principal</h1>
      <p>Estamos trabajando en eso</p>
    </div>
  </div>
</div>
</body>
